* {
  box-sizing: border-box
}
body {
  margin: 0;
  overflow-x: hidden;
}
.main {
  background-color: #000;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: Roboto
}
text {
  fill: #fff;
  font-family: Roboto
}
.tick line, path {
  stroke: #555555;
  opacity: 0.3
}
.graph-container {
  background-color: #212121;
  color: #fff;
  margin: 0 auto;
  padding: 20px;
  overflow-x: auto;
}
.d3-wrapper {
  position: relative;
}
#title {
  text-align: center;
  font-size: 2.5em
}
.tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  padding: 10px;
  font-size: .6em;
  background: #000;
  border-radius: 5px;
  pointer-events: none
}
.overlay {
  position: absolute;
  background: #fff;
  pointer-events: none
}
.info {
  font-size: .8em
}